<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="Description" content="Enter your description here" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.0/css/all.min.css">
    <link rel="stylesheet" href="assets/css/style.css">
    <title>Title</title>
</head>

<body>

    <div id="app">
       

        <div class="container-fluid">
            <div class="row">
                <div class=" box col-sm-12 col-md-6 col-lg-4" v-for="character in characters" :key="character.id">
                    <div class="row">
                        <div class="col-4 part-1">
                            <img :src="character.image">
                        </div>

                        <div class="col-8 part-2">
                            <a :href="character.image">
                                <h3 class="name">{{ character.name }}</h3>
                            </a>
                            <div class="section">
                                <span v-if="character.status == 'Alive'">
                                    <div class="point-icon" style="background-color: green;"></div>
                                </span>
                                <span v-else>
                                    <div class="point-icon" style="background-color: red;"></div>
                                </span>

                                
                               
                                <span class="status">{{ character.status }}</span>
                                <span> - </span>
                                <span class="species">{{ character.species }}</span>
                            </div>

                            <div class="section">
                                <h5>Last known location:</h5>
                                <a href="#">{{ character.location.name }}</a>
                            </div>

                            <div class="section">
                                <h5>First seen in:</h5>
                                <div v-for="epi in episode" :key="epi.id">
                                    <span v-if="character.id == epi.id">
                                        {{ epi.name}}
                                    </span>
                                </div>
                            </div>




                        </div>
                    </div>



                </div>
            </div>
        </div>



    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.1/umd/popper.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.0/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="assets/js/app.js"></script>
</body>

</html>