#app {
    .container-fluid {
        .box {
            background-color: #000;

            padding: 0px;
            border: #fff solid 5px;


            span {
                color: #fff;
            }


            h3 {
                color: #fff;
            }

            h5 {
                color: #bfbfbf;
            }

            a {
                color: #fff;
                text-decoration: none !important;

                :hover {
                    color: #fa7a2a !important;

                }

            }

            img {
                width: 100%;
                height: 100%;
            }

            .point-icon {

                height: 10px !important;
                width: 10px !important;
                border-radius: 50px;
                display: inline-block;
            }

            .part-2 {
                padding-top: 20px;
                padding-bottom: 20px;

            }



            :hover {
                background-color: #1c1c1c !important;
               

            }

            :hover h3 {
                color: #fa7a2a !important;

            }
            

        }
    }
}